#Oscillator
set_io              clk     21

#PMOD I/O
set_io  -pullup yes btn_left    112
set_io  -pullup yes btn_right   113
set_io  -pullup yes btn_rst     115
set_io  -pullup yes hsync       91
set_io  -pullup yes vsync       81
set_io  -pullup yes r[0]        87
set_io  -pullup yes r[1]        78
set_io  -pullup yes g[0]        88
set_io  -pullup yes g[1]        79
set_io  -pullup yes b[0]        90
set_io  -pullup yes b[1]        80