apio==1.4.2
apollo-fpga==1.1.1
attrs==26.1.0
blackiceprog==2.0.0
certifi==2026.6.17
charset-normalizer==3.4.7
click==8.2.1
colorama==0.4.6
configobj==5.0.9
debugpy==1.8.19
deprecation==2.1.0
icefunprog==2.0.3
idna==3.18
intelhex==2.3.0
invoke==2.2.1
jsonmerge==1.9.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markdown-it-py==4.2.0
mdurl==0.1.2
packaging==25.0
prompt_toolkit==3.0.52
protobuf==6.33.0
Pygments==2.20.0
pyserial==3.5
pyusb==1.3.1
pyvcd==0.4.1
pyxdg==0.28
referencing==0.37.0
requests==2.33.1
rich==14.0.0
rpds-py==2026.5.1
SCons==4.8.1
semantic-version==2.10.0
six==1.17.0
tinyfpgab==1.1.0
tinyprog==1.0.21
tqdm==4.68.3
urllib3==2.7.0
vcdvcd==2.6.0
wcwidth==0.8.1
wheel==0.45.1
